#card{
    position: relative;
    
    
    height: 200px;
    width: 400px;
    
    overflow: hidden;
    margin-top: 150px;

    transition: 400ms ;
  
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #888888;
    
}

#relogio{
  height: 200px;
  width: 200px;
}


#box {
    width: 100%;
    padding-bottom: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

  }

.mini-bar {
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 25px;
  background: rgba(255, 255, 255, 0.15); /* semi-transparente */
  backdrop-filter: blur(10px);            /* efeito vidro  mas nao ta pegando ainda*/
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;

}

.movimento {
  display: flex;
  flex-direction: column;
   transition: 400ms ;
}


.movimento:hover {
  transform: scale(1.12);
  height: 500px;  
  width: 500px ;
}
