* {
  font-family: 'BBH Bogle', sans-serif;
}

.sombra {
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.295);
}



#divisaoDeLayout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#portifolio {
  
  width: 100%;
  display: flex;
  font-size: 100px;
  padding: 15px;
  text-shadow: 2px 3px 2px rgba(219, 35, 35, 0.295);
}





