.pes {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 6.9%, #031a26 8%);
    display: grid;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
         .pes {
      height: 350px;
    }
}

@media screen and (min-width: 779px) and (max-width: 1024px) {
         .pes {
        font-size: auto;
    }
}