/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'BBH Bogle', sans-serif;
  border: 0;
}


body {
  background: #031A26 !important;  /* averiguar esse conflito depois */
}

#teste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

 /* background-color: #DCDCDD; COR DO FOOTER */